.vscode/settings.json
.vscode
lesson35/bot.ini
lesson39/my_django_project/__pycache__/__init__.cpython-39.pyc
lesson39/my_django_project/__pycache__/settings.cpython-39.pyc
lesson39/my_django_project/__pycache__/urls.cpython-39.pyc
lesson39/my_django_project/__pycache__/views.cpython-39.pyc
lesson39/my_django_project/__pycache__/wsgi.cpython-39.pyc
