#content {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
    color: #30D5C8;
}

a {
    background-color: #30D5C8;
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
}

li {
    display: inline;
}

li {
    float: left;
}

li {
    display: inline-block;
}

ul {
    display: flex;
}