{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wlearn</title>
    <link type="text/css" href="{% static 'wlearn/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <ul class="topnav">
        {% for item in main_menu %}
        <li><a class='{{item.class}}' href='{{item.url_name}}'>{{item.title}}</a></li>
        <!--  -->
        {% endfor %}
        <!--  -->
        {% if request.user.is_authenticated %}
        <!--  -->
        <b><li class="name">Hello {{user.username}}</li></b>
        <!--  -->
        {% endif %}
    </ul>

    {% block content %} {% endblock %}
</body>

</html>