/* Add a black background color to the top navigation */

ul.topnav {
    list-style: none;
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

ul.topnav li.name {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 20px;
}

ul.topnav li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

ul.topnav li a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

ul.topnav li a.active {
    background-color: #04AA6D;
    color: white;
}

#tbl {
    width: 300px;
    /* Ширина таблицы */
    border: 1px solid black;
    /* Рамка вокруг таблицы */
    table-layout: fixed;
    /* Фиксированная ширина ячеек */
    width: 100%;
    /* Ширина таблицы */
}

.mark a {
    color: rgb(94, 90, 90);
    background: rgba(204, 204, 204, 0.336);
}

.unmark a {
    color: rgb(0, 0, 0);
}

TR.header {
    font-weight: bold;
}

TD,
TH {
    padding: 3px;
    /* Поля вокруг содержимого ячеек */
    border: 1px solid black;
    /* Рамка вокруг таблицы */
}

TH {
    text-align: left;
    /* Выравнивание по левому краю */
    background: black;
    /* Цвет фона */
    color: white;
    /* Цвет текста */
}

body {
    font-family: Arial, Verdana, sans-serif;
    /* Семейство шрифтов */
    font-size: 11pt;
    /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0;
    /* Цвет фона веб-страницы */
    color: #333;
    /* Цвет основного текста */
}

h1 {
    color: #a52a2a;
    /* Цвет заголовка */
    font-size: 24pt;
    /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif;
    /* Семейство шрифтов */
    font-weight: normal;
    /* Нормальное начертание текста  */
}

p {
    text-align: justify;
    /* Выравнивание по ширине */
    margin-left: 60px;
    /* Отступ слева в пикселах */
    margin-right: 10px;
    /* Отступ справа в пикселах */
    /* border-left: 1px solid #999; */
    /* Параметры линии слева */
    /* border-bottom: 1px solid #999; */
    /* Параметры линии снизу */
    padding-left: 10px;
    /* Отступ от линии слева до текста  */
    padding-bottom: 10px;
    /* Отступ от линии снизу до текста  */
}

TD input[type=submit],
TD select {
    height: 100%;
    width: 100%
}